안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [97]:
def greet_user(name: str, age: int) -> None:
    print(f'안녕하세요, {name}님! 당신은 {age}살입니다.')

user_name = input('이름을 입력하세요:')
user_age = int(input('나이를 입력하세요:'))

greet_user(user_name, user_age)

이름을 입력하세요:고찬열
나이를 입력하세요:29
안녕하세요, 고찬열님! 당신은 29살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [9]:
def sum_numbers(*args:int) -> int:
    return sum(args)

numbers = sum_numbers(1,2,3,4,5)
print(numbers)

15

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [88]:
def print_name(name: str = "익명") -> None:
    """
    사용자의 이름을 입력하지 않으면
    익명으로 처리됩니다.
    """
    print(name)

print_name("고찬열")

고찬열

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [87]:
def print_info(*, name : str, age : int, sex : str) -> None:
    """
    사용자의 이름과 성별은 문자열로
    나이는 정수로 기입합니다.
    """
    if not (
        isinstance(name, str)
        and isinstance(sex, str)
        and isinstance(age, int)
    ):
        raise TypeError('이름과 성별은 문자열, 나이는 정수로 입력해주세요.')

    print(f'이름 : {name}, 나이 : {age}, 성별 : {sex}')

print_info(name="고찬열", age=29, sex="남성")

이름 : 고찬열, 나이 : 29, 성별 : 남성

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [20]:
def add(a:int, b:int) -> int:
    """
    두 개의 정수를 받아 그 합을
    반환하는 함수입니다.
    """
    return a+b

sum_add = add(3,5)
print(sum_add)

8

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [62]:
def odd_numbers(n:int):
    """
    기입하는 n의 숫자는
    정수로 기입한다.
    """
    total_numbers = []

    for x in range(0, n+1, 2):
        total_numbers.append(x)
    return total_numbers

result = odd_numbers(20)
print(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [64]:
def min_max() -> tuple[int, int]:
    a = int(input("숫자를 입력하세요.: "))
    b = int(input("숫자를 입력하세요.: "))
    c = int(input("숫자를 입력하세요.: "))

    result = (a,b,c)

    return max(result), min(result)

low, high = min_max()
print(f'최대값 : {high}')
print(f'최소값 : {low}')

숫자를 입력하세요.: 20
숫자를 입력하세요.: 100
숫자를 입력하세요.: 2
최대값 : 2
최소값 : 100

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [65]:
def is_even(a : int) -> bool:
    """
    짝수가 맞을 경우
    조기 리턴하여 True를 알려준다.
    """
    if a % 2 == 0:
        return True
    return False

default = is_even(13)
print(default)

False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [89]:
def factorial(n):
    """
    자신보다 낮은 1까지의 모든
    수를 곱한다.
    """
    if not isinstance(n, int):
        raise TypeError('정수만 입력할 수 있습니다.')
    if n < 0:
        raise TypeError('0 이상의 정수만 입력할 수 있습니다.')
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)

result = factorial(5)
print(result)

120

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [83]:
def print_lengths(word : list[str]) -> None:
    for a in word:
        print(len(a))

words = ["방가", "gasga", "dsfsadf"]
print_lengths(words)

2
5
7

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [96]:
def longer_string(a:str, b:str) -> str:
    """
    위에 사용한 조기 리턴과 비교 연산을 사용하여
    a가 b보다 크거나 작으면 리턴하여 a를 반환한다.
    """
    if not isinstance(a, str) or not isinstance(b, str):
        raise TypeError("문자열을 입력해주세요.")
    if len(a) >= len(b):
        return a
    return b

print(longer_string("방가", "graega"))

graega