안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?


Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [56]:
x = 2
n = 5

x_list = []

# x값을 직접대입하는 작성방식
# for i in range(x, x*n+1, x):
#     x_list.append(i)

# print(x_list)

# 비교적 안전하게 첫자리부터 마지막자리 구하기
for i in range(1, n+1):
    x_list.append(x * i)

print(x_list)

[2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [47]:
phone_number = "01012347890"

# 불변이라는 문자열을 수정할 수 없어 새로운 문자열을
# 제작하여 새로운 뒷4자리에 "****"라는 의미를 부여
phone_number_del = phone_number[:-4] + "****"

print(phone_number_del)

0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [98]:
s = "77three4one"

numbers = {
    "zero": "0",
    "one": "1",
    "two": "2",
    "three": "3",
    "four": "4",
    "five": "5",
    "six": "6",
    "seven": "7",
    "eight": "8",
    "nine": "9"
}
# s에서 numbers에 키와 같은 단어를 찾아 값을 넣는 과정
# items가 하는일은 모든 키와 값을 언패킹해서 word와 nums에 넣어준다
for word, nums in numbers.items():
    s = s.replace(word, nums)

code = int(s)
print(code)

77341

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [69]:
arr1 = [
    [1,2],
    [2,3]
]

arr2 = [
    [3,4],
    [5,6]
]

result = []
# 이해하는것도 중요하지만 설명할 수 있어야하는 것도 중요!!

# 첫 번째 for 반복문에서 먼저 zip을 사용해 같은 행의 arr을 tuple로 묶고,
#   for에서 가져와서 in으로 넣을 때 언패킹한다.주의 여기서 sup으로 들어간 arr은 각각으로 나뉜다.
# 예)
#   첫번째 작용 [0]행
# sup1 = [1,2]
# sup2 = [3,4]
#   두번째 작용 [2]행
# sup1 = [2,3]
# sup2 = [5,6]

# 두 번째 반복문에서는 zip에서 sup1과 sup2을 열로 잘라 임시로 저장해두고 이것의 값을 바로 구한다.
#   예) (1,3) -> a=1, b=3 / (2,4) -> a=2, b=4 (임시 저장)

for sup1, sup2 in zip(arr1, arr2):
    sup = []
    for a, b in zip(sup1, sup2):
        sup.append(a+b)
    result.append(sup)
#       sup는 바깥 반복문이 시작될 때마다 새로 만들어지므로,
#       안쪽 반복문이 끝나면 sup에는 그 행의 결과(예: [4,6])가 모인다.
#       그리고 바깥 반복문이 끝날 때 result.append(sup)를 해서
#       result가 [[4,6], [7,9]]처럼 "행 단위"로 묶이게 된다.

print(result)

[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [84]:
x = 17

total_x = 0
for total in str(x):
    total_x += int(total)
harshad_total = x % total_x == 0

print(harshad_total)

# def은 사용 코드를 묶고, 만들어 놓고 재사용 할 수 있다.
# 수정을 여기 한곳에서 할 수 있다.
# x는 그냥 기준, 결과는 print안에 기입
# return은 함수의 값을 출력할 수 있게끔 is_harshad에게 돌려준다.
# return이 없으면 print는 함수를 계산하지 않아 none으로 처리됀다.

# def is_harshad(x):
#     total_ex = 0
#     for ex in str(x):
#         total_ex += int(ex)
#     return  x % total_ex == 0

# print(is_harshad(10))  True (1+0=1, 10%1=0)
# print(is_harshad(12))  True (1+2=3, 12%3=0)
# print(is_harshad(11))  False (1+1=2, 11%2=1)
# print(is_harshad(13))  False (1+3=4, 13%4=1)

False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [4]:
seoul = ["jane", "kim"]

x = seoul.index("kim")

print(f'김서방은 {x}에 있다')

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [100]:
numbers = [5,8,1,0,6,9]

# 굳이 필요없지만 오늘 배운 코드
numbers.sort()

# range로 0부터 9번까지 집합 set으로 중복체크
# numbers_2는 기존 numbers의 중복체크
all_numbers = set(range(0,10))
numbers_2 = set(numbers)

# all_numbers와 numbers_2의 차집합
miss_numbers = all_numbers - numbers_2

total_sum = sum(miss_numbers)
print(total_sum)

16